<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    {% load static %}
    <link href="{% static 'css/weather.css' %}" rel="stylesheet">

    <title>Weather Report</title>
</head>
<body class="text-center" style="background-image: url('{% static 'images/weather1.jpg' %}')">
<div class="container">
    <div class="col-sm midb">
        <form class="form-signin" method="GET">
            <label for="cities"></label>
            <div class="input-group">
                <input type="text" id="cities" name="location" class="form-control text-center" placeholder="Enter City Name" required>
                <div class="input-group">
                    <button class="btn btn-outline-secondary" type="submit">Check</button>
                </div>
                <div class="col-lg-12">
                    <span>
                        <h1 class="text-dark">{{ city_name }}</h1>
                        <h1 class="text-dark">{{ Temp }}</h1>
                        <h1 class="text-dark">{{ Pressure }}</h1>
                        <h1 class="text-dark">{{ Humidity }}</h1>
                        <h1 class="text-dark">{{ Weather_condition }}</h1>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>